* { box-sizing: border-box; }
header{background-color: #40407A;
     background-image: url(./images/sunrise.jpg);
	 background-size: 100%;
	 color: white;
	 minimum-height: 200px;
	 margin-top: 50px;
	 font-size: 90%;
	 }
	 header a { text-decoration: none; }
     header a:link { color: #FFF; }
     header a:visited { color: #FFF; }
     header a:hover { color: #EDF5F5;}
.home { height: 20vh;
        padding-top: 2em;
        padding-left: 10%;}
.content {height: 20vh;
        padding-top: 2em;
        padding-left: 10%;}
 h1 {
	 padding-top: 50px;
	 padding-left: 2em;
	 }

nav { padding-top: 0.5em;
      position: fixed; top: 0; left: 0;
      text-align: right;
      width: 100%;
	  padding: 1em;
	  display:inline;
	  background-color: white;
	  padding-right: 0;
	  margin: 0;
	  z-index: 9999;
	  }
nav a { text-decoration: none;
        float: right;
        display: inline-block;
        width: 120%;
        }
        nav a:link { color: #3F2860; }
        nav a:visited { color: #497777; }
        nav a:hover { color: #A26100; }

nav ul { list-style-type: none;
         font-size: 1.2em;
         margin: 0;
         display: flex; flex-flow: row wrap;
         }
nav li { display: inline;
         padding-top: 0;
         padding-bottom: 0;
         padding-left: 1em;
         padding-right: 1em;
         width: 40%;
         }

body { background-color: #3F2860;
       margin: 0;
       color: #40407A;
       font-family: Helvetica; }
main {padding: 1em;
      padding-top: 1em;
      margin-left: 170px;
      }

.studio {font-style: italic;}
footer { background-color: #80CBC4;
         text-align: center;
         font-size: .60em;
         font-style: italic;
         padding: 1em;}
#wrapper { background-color: #F5F5F5;
            padding: 2em; }
.hero {padding-top: 1em; padding-bottom: 1em; }
.floatleft {float: left; margin-right: 4em; margin-bottom: 1em; padding-left: 10px;}
.clear {clear: both;}
.onehalf {float: left; width: 50%; padding-left: 2em; padding-right: 2em; }
.onethird {float: left; width: 33%; padding-left: 2em; padding-right: 2em; }

