* {
    box-sizing: border-box;
}

body {
    background-color: #3F2860;
    margin: 0;
    color: #40407A;
    font-family: Helvetica;
}

header {
    background-color: #40407A;
    background-image: url(../images/sunrise.jpg);
    background-size: 100%;
    color: white;
    minimum-height: 200px;
    margin-top: 50px;
    font-size: 90%;
}

header {
    a {
        text-decoration: none;
    }

    a:link {
        color: #FFF;
    }

    a:visited {
        color: #FFF;
    }

    a:hover {
        color: #EDF5F5;
    }
}


h1 {
    padding-top: 50px;
    padding-left: 2em;
}


nav {
    padding-top: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    padding: 1em;
    display: inline;
    background-color: white;
    padding-right: 0;
    margin: 0;
    z-index: 9999;

    a {
        text-decoration: none;
        float: right;
        display: inline-block;
        width: 120%;
    }

    a:link {
        color: #3F2860;
    }

    a:visited {
        color: #497777;
    }

    a:hover {
        color: #A26100;
    }

    ul {
        list-style-type: none;
        font-size: 1.2em;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
    }

    li {
        display: inline;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1em;
        padding-right: 1em;
        width: 40%;
    }
}

section {
    padding-left: 0.5em;
    padding-right: 0.5em;
}


main {
}

footer {
    text-align: center;
    font-size: .60em;
    font-style: italic;
}

.home {
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}

.content {
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}

.studio {
    font-style: italic;
}

#wrapper {
    background-color: #F5F5F5;
    padding: 2em;
}

#mathero {
    background-image: url(../images/yogamat.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    display: none;
}

#loungehero {
    background-image: url(../images/yogalounge.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    display: none;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}


@media (min-width: 600px) {

    nav {
        li {
            width: 7em;
        }

        ul {
            display: flex;
            justify-content: flex-end;
        }
    }

    section {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }

    footer {
        clear: both;
    }

    #mathero {
        background-image: url(../images/yogamat.jpg);
        background-repeat: no-repeat;
        height: 300px;
        background-size: cover;
        display: block;
        padding-bottom: 1em;
    }

    #loungehero {
        background-image: url(../images/yogalounge.jpg);
        background-repeat: no-repeat;
        height: 300px;
        background-size: cover;
        display: block;
        padding-bottom: 1em;
    }

    #flow {
        display: flex;
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

}

@media (min-width: 1024px) {
    header {
        font-size: 120%;
    }

    nav {
        li {
            width: 7em;
        }

        ul {
            display: flex;
            justify-content: flex-end;
        }
    }

    section {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }

    footer {
        clear: both;
    }

    .home {
        padding-top: 5em;
        padding-left: 8em;
        height: 50%;
    }

    .content {
        padding-top: 1em;
        padding-left: 8em;
        height: 30%;
    }

    #wrapper {
        width: 80%;
        margin: auto;
    }

    #mathero {
        background-image: url(../images/yogamat.jpg);
        background-repeat: no-repeat;
        height: 300px;
        background-size: cover;
        display: block;
        padding-bottom: 1em;
    }

    #loungehero {
        background-image: url(../images/yogalounge.jpg);
        background-repeat: no-repeat;
        height: 300px;
        background-size: cover;
        display: block;
        padding-bottom: 1em;
    }

    #flow {
        display: flex;
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

}